# Assignment-1

## Name: Govind Agarwal
## Reg. No.: 20BCE1618

#### Q1) Assign your Name to variable name and Age to variable age. Make a Python program that prints your name and age.

In [3]:
name = "Govind Agarwal"
age = 21
print("Name: ",name,"\nAge:",age)

Name:  Govind Agarwal
Age: 21

#### Q2) X="Datascience is used to extract meaningful insights." Split the string

In [5]:
X= "Datascience is used to extract meaningful insights."
arr = X.split()
arr

['Datascience', 'is', 'used', 'to', 'extract', 'meaningful', 'insights.']

#### Q3) Make a function that gives multiplication of two numbers

In [7]:
def mul(a,b):
    return a*b
print(mul(3,4))

12

#### Q4) Create a Dictionary of 5 States with their capitals. also print the keys and values.

In [9]:
geo = {"Bihar":"Patna","Karnataka":"Bengaluru","Rajasthan":"Jaipur","Manipur":"Imphal","Sikkim":"Gangtok"}
for ky,itm in geo.items():
    print(ky+"---->"+itm)

Bihar---->Patna
Karnataka---->Bengaluru
Rajasthan---->Jaipur
Manipur---->Imphal
Sikkim---->Gangtok

#### Q5) Create a list of 1000 numbers using range function.

In [13]:
lst = list()
for i in range(1,1001):
    lst.append(i)

#### Q6) Create an identity matrix of dimension 4 by 4

In [14]:
import numpy as np

np.identity(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

#### Q7) Create a 3x3 matrix with values ranging from 1 to 9.

In [17]:
np.arange(1, 10).reshape(3,3)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

#### Q8) Create 2 similar dimensional array and perform sum on them.

In [35]:
x = np.arange(10,15)
print("X: ",x)
y = np.arange(20,25)
print("Y: ",y)
res = x+y
print("Sum:",res)

X:  [10 11 12 13 14]
Y:  [20 21 22 23 24]
Sum: [30 32 34 36 38]

#### Q9) Generate the series of dates from 1st Feb, 2023 to 1st March, 2023 (both inclusive)

In [38]:
import pandas as pd
sr = pd.Series(pd.date_range(start ='2-1-2023', end ='3-1-2023'))
sr

0    2023-02-01
1    2023-02-02
2    2023-02-03
3    2023-02-04
4    2023-02-05
5    2023-02-06
6    2023-02-07
7    2023-02-08
8    2023-02-09
9    2023-02-10
10   2023-02-11
11   2023-02-12
12   2023-02-13
13   2023-02-14
14   2023-02-15
15   2023-02-16
16   2023-02-17
17   2023-02-18
18   2023-02-19
19   2023-02-20
20   2023-02-21
21   2023-02-22
22   2023-02-23
23   2023-02-24
24   2023-02-25
25   2023-02-26
26   2023-02-27
27   2023-02-28
28   2023-03-01
dtype: datetime64[ns]

#### Q10) Given a dictionary, convert it into corresponding dataframe and display it dictionary = {'Brand': ['Maruti', 'Renault', 'Hyndai'], 'Sales' : [250, 200, 240]}

In [21]:
dictionary = {'Brand': ['Maruti', 'Renault', 'Hyndai'], 'Sales' : [250, 200, 240]}
df = pd.DataFrame(dictionary)
df

     Brand  Sales
0   Maruti    250
1  Renault    200
2   Hyndai    240